.AddNote {
  display: flex;
  justify-content: space-between;
}

.AddNoteLabel {
  text-transform: capitalize;
  font-size: 12pt;
  flex-basis: 44px;
}

.AddNoteText {
  width: 75%;
  flex-basis: 300px;
  opacity: .5;
}

.AddNoteSubmit {
  flex-basis: 45px;
  color: #61dafb;
}

.AddNoteCancel {
  color: #dc1e2f;
  text-transform: capitalize;
  flex-basis: 60px;
}

.AddNoteCancel,
.AddNoteSubmit {
  font-family: inherit;
  font-weight: bolder;
  border: none;
  background: transparent;
}
