.Notes {
  border: 2px solid white;
  border-radius: 10px;
  min-height: 400px;
  width: 500px;
  padding: 6px;
}

.NotesItems,
.NotesHeader {
  margin: 0 12px;
}

.NotesHeader {
  display: flex;
  justify-content: space-between;
}

.NotesTitle {
  margin-top: 6px;
  text-transform: uppercase;
}

.NotesAddNote {
  color: #61dafb;
  text-transform: capitalize;
  text-align: center;
  margin: 6px 0;
}

.NotesAddNote:hover {
  cursor: pointer;
}

.NotesItems {

}
