@import-normalize;


.App {
  background-color: #181c24;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: yellow;
  font-family: monospace;
  font-size: 14pt;
}

.App-header {
  text-align: center;
  flex-basis: 40px;
}

.App-main,
.App-header {
  margin: 0 auto;
}
