@import-normalize;


.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: yellow;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  flex-basis: 40px;
}
/*
.App-link {
  color: #61dafb;
} */
